@using ChallengeRecursiva.Business.Models.Parteners
@model List<PartnerAgregateDto>
@{
    ViewData["Title"] = "Exercise2";
}

<div class="row">
    <div class="col-4">
        @{
            Html.RenderPartial("ReportsMenu");
        }
    </div>
    <div class="col-8">
        <h1>Listado, ordenado de mayor a menor según la cantidad de 
        socios, que enumere, junto con cada equipo, el promedio de edad 
        de sus socios, la menor edad registrada y la mayor edad registrada.</h1>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>EQUIO</td>
                    <td>SOCIOS</td>
                    <td>PROMEDIO DE EDAD</td>
                    <td>MAYOR EDAD</td>
                    <td>MENOR EDAD</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Team</td>
                        <td>@item.PartnerCount</td>
                        <td>@item.AverageAge</td>
                        <td>@item.MaxAge</td>
                        <td>@item.MinAge</td>
                    </tr>    
                }
            </tbody>
        </table>


        <a class="btn btn-primary" href="~/ReportPartners">Cerrar</a>

    </div>
</div>